p {color: rgb(8, 8, 156); font-size: 16px;}
h3{color:#580058;}
h2{color:rgb(8, 8, 156)}
h1{color: rgb(89, 0, 255);}

.titulo {
    text-align: center; 
    color:#5c025c ;
}

.song1 {

}

.deco {
    text-align: right;
}