
h1 {
    color: rgba(54, 0, 155, 0.527);
}

h2 {
    color: rgba(39, 1, 109, 0.582);
}

h3 {
    color: #580058;
}

p {
    color: rgb(8, 8, 156);
    font-size: 16px;
}

li {
    color: rgb(8, 8, 156);
}

.titulo {
    text-align: center;
    color: #5c025c;
}

.deco {
    text-align: right;
}

