
* {
    box-sizing: border-box;
}
.contenedor-padre {
    background-color: #f4f4f4;
    width: 80%;
    margin: 20px auto; 
    padding: 20px;     
    border: 2px solid #333;
}
.caja-hija {
    padding: 15px;
    border: 1px dashed rgb(17, 0, 255);
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.bloque {
    display: block;
}
.linea-bloque {
    display: inline-block;
    width: 45%;
}
.caja-anidada {
    margin-top: 20px;
    padding: 10px;
    border: 4px solid #003b7a;
    background-color: #fcfcfc;
}